.service-container {
  @include size(100%, auto);
  padding: 20px 0;
  .service {
    @include grid(4, 25%, 1, auto);
    .service__child {
      padding: 30px 50px 30px 0;
      .service_icon svg {
        @include size(50px, 50px);
        color: #0099b0;
      }
      .service__caption {
        .service__title {
          margin: 15px 0;
          color: #222;
          font: 20px $openSans;
        }
        span {
          color: #787878;
          font-size: 15px;
          line-height: 20px;
          font-weight: 300;
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .service-container .service {
    @include grid(2, 50%, 2, auto);
    justify-content: center;
    .service__child {
      margin: 30px;
    }
  }
}
@media (max-width: 767px) {
  .service-container .service {
    @include grid(1, 90%, 4, auto);
    justify-content: center;
  }
}
