.time-table {
  @include grid(3, 33.3%, 1, 238px);

  margin-top: -80px;
  // z-index: 10;
  // position: relative;
  .time__child {
    padding: 40px;
    color: #fff;
    font-size: 22px;
    .time_title {
      font-family: $openSans;
    }
    &:first-child {
      //   background: #00b0bd;
      background: #07694d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .replyBtn {
        @include size(263px, 44px);
        border: 1px solid #fff;
        @include centerlize(left);
        padding: 0 20px;
        &:hover {
          background: #fff;
          a {
            color: #0099b0;
          }
        }
        a {
          color: #fff;
          font-size: 14px;
        }
      }
    }
    &:nth-child(2) {
      //   background: #24b7c2;
      background: #098663;
    }
    &:last-child {
      //   background: rgb(40, 211, 223);
      background: #0c9c74;
      .schedule {
        font-size: 14px;
        li {
          display: flex;
          justify-content: space-between;
          padding: 13px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
@media (max-width: 762px) {
  .time-table {
    @include gridRes(1, 90%, 3, auto);
    justify-content: center;
    margin-top: 0;
    .time__child {
      &:first-child {
        height: 210px;
      }
      &:nth-child(2) {
        height: 150px;
      }
    }
  }
}
